.container{
    height: 100vh;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

.item{
    font-size: 5rem;
    color: white;
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cowboy{
    background-color: #00b9ff;
    grid-column: span 2;
}

.book{
    background-color: orange;
    grid-row: span 2;
}

.astronaut{
    background-color: #03989e;
    order: 1;
    grid-column: span 2;
}

